
{% extends 'general/base.html' %}
{% block title %}Top Anime{% endblock %}
{% block topanime_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
	<h1 class="text-center">Top Animes</h1>

    {% if categories %}
	{% for category in categories %}
	    <div class="col-sm-4 col-lg-2">
    	<div class="thumbnail text-center">
            <img src="{{ category.anime_thumbnail }}" alt="anime pic" class="ing-responsive" style="width:100px;height:150px;object-fit:scale-down;">
            <div class="caption" style="height:80px">
            <h8>{{ category.anime_id }}</h8>
            <h6>{{ category.anime_name }}</h6>
            </div>                
        </div>
    	</div>
  	{% endfor %}
  	{% endif %}
</div>

  <div class="row text-center">
  	{% if categories.has_other_pages %}
	  	<ul class="pagination">
	  		{% if categories.has_previous %}
	  			<li><a href="?page={{ categories.previous_page_number }}">&laquo;</a></li>
	  		{% else %}
	  			<li class="disabled"><span>&laquo;</span></li>
	  		{% endif %}
	  		{% for i in categories.paginator.page_range %}
	  			{% if categories.number > 5 and forloop.first %}
			  		<li><a href="?page=1">1</a></li>
				 {% endif %}
				{% if categories.number == i %}
					<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></li>
				{% elif i > categories.number|add:'-5' and i < categories.number|add:'5' %}
					<li><a href="?page={{ i }}">{{ i }}</a></li>
				{% endif %}
				{% if categories.paginator.num_pages > categories.number|add:'5' and forloop.last %}
					<li><a href="?page={{ categories.paginator.num_pages }}">{{ categories.paginator.num_pages }}</a></li>
				{% endif %}
			{% endfor %}
			{% if categories.has_next %}
				<li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
			{% else %}
				<li class="disabled"><span>&raquo;</span></li>
			{% endif %}
		</ul>
	{% endif %}
</div>

{% endblock %}
  
    









